// Tang Console 138K: 50 MHz clock, LED, and a PMOD-DTx2 in PMOD1.
// PMOD1 connector pin -> ball: 5=E21 6=D21 7=E22 8=D22 9=F19 10=F20 11=W19 12=W20
// Module silkscreen:      5=C   6=Sel 7=B   8=A   9=E   10=D   11=F   12=G
IO_LOC "clk" V22;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "led" V13;
IO_PORT "led" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod_seg[0]" D22;
IO_LOC "pmod_seg[1]" E22;
IO_LOC "pmod_seg[2]" E21;
IO_LOC "pmod_seg[3]" F20;
IO_LOC "pmod_seg[4]" F19;
IO_LOC "pmod_seg[5]" W19;
IO_LOC "pmod_seg[6]" W20;
IO_LOC "pmod_sel" D21;
IO_PORT "pmod_seg[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod_seg[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod_seg[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod_seg[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod_seg[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod_seg[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod_seg[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pmod_sel" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
